@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');
:root{
    --bg-color:#BFECFF;
    --primary-color: #FFF6E3;
    --secondary-color: #CDC1FF;
    --font: "PT Sans Narrow", serif;
}
body{
    background-color:var(--bg-color);
}